*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


.banner-container{
border: 2px solid green;
width: 1170px;
height: 500px;
max-width: 80%;
margin-right: auto;
margin-left: auto;
background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);



}
.banner-heading{
border: 2px solid tomato;
color: white;
font-weight: 800;
text-align: center;
padding: 80px 40px 30px 40px;
font-size: 30px;
}
.banner-description{
border: 2px solid skyblue;
color: white;

 padding:0 100px;
text-align: center;
font: size 1em;
font-weight: 400px;

line-height: 1.6; /* 162.5% */



}
.banner-fill{
border: 2px solid rgb(240, 62, 62);
width: 75%;
height: 70px;
text-align: center;
margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(236, 228, 228, 0.712);
 margin-left: auto;
 margin-right: auto;

}
.primary-btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
 
}
.search-btn{
border: 1px solid blue;
background: #FF5400;
 color: rgb(255, 255, 255);
font-size: 16px;
width: 120px;
height: 40px;
border-radius: 5px;
text-align: center;

}
.popular-container{
    border: 2px solid blue;
    width: 1170px;
    display: flex;
   max-width:80%;
   margin-left: auto;
   margin-right: auto;
    
    justify-content: space-between;
    max-height: 550px;
   margin-top: 100px;


  

}
.popular-headig{
    font-size: 40px;
    max-width: 400px;
    margin-bottom: 10px;
    color: black;
}

.popular-description{
border: 2px solid gold;
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
max-height:100% ;
max-width: 46%;
margin-left:0;
gap: 30px;
padding-right: 20px;

}
.paragraph1{
    
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 15px;
}
.paragraph2{
    margin-bottom: 20px;
}
.popular-last-para{
    margin-bottom: 20px;
}
.popular-btn{color: white;
    background-color: rgba(255, 84, 0, 1);
    max-width: 105px;
    height: 45px;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 5px;
    
    justify-content: center;

}
.popular-image img{
    border: 2px solid red;
   justify-content: space-around;
   max-width: 540px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-right: 0;
   padding-right: 0;
   padding-left: 10px;

}
/*why choose us*/
.why-chose-us-container{
border: 2px solid greenyellow;
width: 1170px;
max-width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}
.choose-us-first-part{
    width: 500px;
text-align: center;
align-items: center;
width: 50%;
margin:0 auto

}
.why-chose-us-heading{
    border: 2px solid rgb(209, 104, 17);
    margin-bottom: 15px;
    font-size: 40px;
}
.why-chose-us-description{
    border: 2px solid rgb(138, 13, 121);
    font-size: 16px;
    line-height: 18px;
    color: rgba(19, 19, 24, 0.70);

}
.box{
    border: 2px solid rgb(16, 199, 223);
    display: flex;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}
.box >.box-1,.box-2,.box-3 {
    max-width: 573px;
    min-height: 283px;
    border-radius: 16px;
    padding: 40px;

}
.why-img{
    padding-bottom: 20px;
}

.box-1 {
   
    border: 2px solid rgb(236, 31, 17);
    margin-right: 20px;
    background: rgba(251, 181, 99, 0.05);
}
.box-2 {
    border: 2px solid rgb(56, 4, 20);
    background: rgba(41, 206, 246, 0.05);
  margin-right:0;
   
  
}
.box-3{
    border: 2px solid rgb(107, 31, 158);
    width:100%;
   margin-left: 50%;
   margin-top: 20px;
   background: rgba(233, 68, 68, 0.05);
    
}
/*newsletter style*/
.newsletter-container{
    
    width: 1170px;
    display: flex;
   max-width:80%;
   margin-left: auto;
   margin-right: auto;
    max-height: 550px;
   margin-top: 100px;
}
.newsletter-firstpart{
    
    width: 500px;
    width: 40%;
    margin:0 ;
    margin-right: 5px;
    

}
.newsletter-title{
    max-width:126px ;
    font-weight: 800px;
    font-size: 24px;
    padding: 40px 300px 0 40px;
    margin-bottom: 5px;
}
.newsletter-description{
   max-width:100% ;
   height: 52px;
    color: #5A5A5D;
    font-weight: 400px;
    font-size: 16px;
    padding: 40px 80px 0 40px;
    margin-bottom: 40px;
    
}
.newsletter-form{ 
    border: none;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 400px;
height:100px;
border-radius: 10px;
margin-right: 5px;




}
.newsletter-img img{ border: 2px solid rgb(147, 250, 12);
   
  

    
   max-width: 700px;
   max-height: 500px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-right: 20px;
   padding-right: 0;
   margin-left: 5px;


}
.form-item{
    padding-left: 8px;
    color: rgba(19, 19, 24, 0.30);
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
}
.news-btn{
    background-color: #FF5400;
    border-radius: 8px;
    border: none;
}
.footer-conainer{
    
    max-width: 1170px;
max-height: 502px;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
background: rgba(19, 19, 24, 0.05);
}
#image-fly{

}
.footer-section{
   
    margin: 20px 60px 20px 60px;

}
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 30px;

}
.footer-logo{
    text-align: center;
    gap: 10px;
    margin-top: 10px;

}
#copyright{
    margin-top: 70px;
}












@media screen and (max-width:600px) {
    .banner-container{
        width: 335px;
height: 483px;
    }
    .banner-heading{
        
        padding:20px;
        font-size: 18px;


    }
    .banner-description{
        padding:0 25px;
       
       font: size .61em;
       font-weight: 400px;
       
       line-height: 1; /* 162.5% */
       

    }

    .banner-fill{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 85%;
height: 200px;

margin-top: 60px;
gap: 10px;




 margin-left: auto;
 margin-right: auto;
       
        
    }
    .primary-btn,.search-btn{
        width: 100%;
        height: 100%;
        gap 5px;
        margin-bottom: 10px;
    }
    .popular-container{
        display: block;
        max-height:1200px;
        width: 335px;
        
    }
    .popular-image img{
        margin-top:30px;
        padding: 0;
        mar
    }
    .popular-description{
      max-width:100%;
       
    }
    .why-chose-us-container{
        border: 2px solid greenyellow;
        width: 335px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        }
    .choose-us-first-part{
        
        
    text-align: center;
    align-items: center;
    width: 100%;
    margin:0 auto
    }
.box{
    display: block;
    width: 100%;
}
.box-1{
    margin-right: 0;
    margin-bottom: 20px
}
.box-2{
margin-top: ;
}
.box-3{
    width:100%;
    margin-left: 0;
}
.why-chose-us-heading{
    
    margin-bottom: 20px;
    font-size: 32px;
}
.newsletter-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 335px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-right:0 80px 30px 30px;
}
.newsletter-firstpart{
   max-width: 320px;
    width: 100%;
    margin:0;
    margin-bottom: 40px;
    border: 1px solid tomato;
    border-radius: 5px;
    
    

}.newsletter-img img{
    
    border-radius: 10px;
   width: 100%;
   
   height: 100%;
   

}

}